__pycache__/
.venv/
venv/
.env.local
.env
src/.env.template
my-chesshacks-bot/.env.template
docs_repo/
sample_bot/
tmp_azero/
my-chesshacks-bot/model_dataset/
my-chesshacks-bot/devtools/node_modules/
my-chesshacks-bot/devtools/.next/
my-chesshacks-bot/devtools/.turbo/
